<social-button id="Social-{{ section.id }}" class="social-button quick-add-hidden" {{ block.shopify_attributes }}>
  <button class="social-button__button hidden">
    {% render 'icon-share' %}
    {{ block.settings.social_label | escape }}
  </button>
  <details id="Details-{{ block.id }}-{{ section.id }}">
    <summary class="social-button__button">
      {% render 'icon-share' %}
      {{ block.settings.social_label | escape }}
    </summary>
    <div class="social-button__fallback motion-reduce">
      <div class="field">
        <span id="SocialMessage-{{ section.id }}" class="social-button__message hidden" role="status"> </span>
        <input
          type="text"
          class="field__input"
          id="SocialUrl-{{ section.id }}"
          value="{{ social_link }}"
          placeholder="{{ 'general.social.social_url' | t }}"
          onclick="this.select();"
          readonly
        >
        <label class="field__label" for="SocialUrl-{{ section.id }}">{{ 'general.social.social_url' | t }}</label>
      </div>
      <button class="social-button__close hidden no-js-hidden">
        {% render 'icon-close' %}
        <span class="visually-hidden">{{ 'general.social.close' | t }}</span>
      </button>
      <button class="social-button__copy no-js-hidden">
        {% render 'icon-clipboard' %}
        <span class="visually-hidden">{{ 'general.social.copy_to_clipboard' | t }}</span>
      </button>
    </div>
  </details>
</social-button>